[phases.setup]
nixPkgs = ['nodejs-18_x']

[phases.install]
cmds = ['composer install --no-dev --optimize-autoloader']

[phases.build]
cmds = [
    'npm ci',
    'npm run build',
    'php artisan config:cache',
    'php artisan route:cache',
    'php artisan view:cache'
]

[start]
cmd = 'frankenphp php-server --listen 0.0.0.0:$PORT --root public/'